---
import Default from '@astrojs/starlight/components/SocialIcons.astro';
import HyprMcpButton from '../util/HyprMcpButton.astro';
---

<Default {...Astro.props}>
  <slot />
</Default>

<div class="hidden lg:block">
  <HyprMcpButton
    href="https://cal.glasskube.com/team/hyprmcp/demo"
    target="_blank"
    variant="secondary">
    Get a Demo
  </HyprMcpButton>
</div>

<div class="hidden lg:block">
  <HyprMcpButton href="/waitlist/" variant="primary">
    Get Started
  </HyprMcpButton>
</div>

<HyprMcpButton href="https://app.hyprmcp.com" variant="link" target="_blank">
  Login
</HyprMcpButton>
