---
import Default from '@astrojs/starlight/components/SocialIcons.astro';
import JetskiButton from '../util/JetskiButton.astro';
---

<Default {...Astro.props}>
  <slot />
</Default>

<div class="hidden lg:block">
  <JetskiButton
    href="https://cal.glasskube.com/team/founder/jetski"
    target="_blank"
    variant="secondary">
    Get a Demo
  </JetskiButton>
</div>

<div class="hidden lg:block">
  <JetskiButton href="/waitlist/" variant="primary">
    Start Deploying
  </JetskiButton>
</div>

<JetskiButton href="/waitlist/" variant="link"> Login </JetskiButton>
