---
import {Icon} from '@astrojs/starlight/components';
---

<div class="py-12 sm:py-32 border-b border-gray-200 dark:border-gray-800">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2
        class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white">
        Why choose Hypr MCP?
      </h2>
      <p class="mt-4 text-lg text-gray-600 dark:text-gray-400">
        One platform to build, deploy, and monitor MCP servers at scale.
      </p>
    </div>

    <div class="mt-12 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
      <div class="text-center">
        <div class="mx-auto h-12 w-12 text-blue-600">
          <Icon name="seti:license" class="h-12 w-12" />
        </div>
        <h3 class="mt-4 text-lg font-semibold text-gray-900 dark:text-white">
          Authentication
        </h3>
        <p class="mt-2 text-gray-600 dark:text-gray-400">
          SSO, Unified Access Control, <br /> Audit Trails and Tool Authorization.
        </p>
      </div>

      <div class="text-center">
        <div class="mx-auto h-12 w-12 text-blue-600">
          <Icon name="seti:smarty" class="h-12 w-12" />
        </div>
        <h3 class="mt-4 text-lg font-semibold text-gray-900 dark:text-white">
          MCP Analytics
        </h3>
        <p class="mt-2 text-gray-600 dark:text-gray-400">
          Turn the lights on for your MCP server <br />with real-time insights
        </p>
      </div>

      <div class="text-center">
        <div class="mx-auto h-12 w-12 text-blue-600">
          <Icon name="seti:lock" class="h-12 w-12" />
        </div>
        <h3 class="mt-4 text-lg font-semibold text-gray-900 dark:text-white">
          Enterprise-grade security
        </h3>
        <p class="mt-2 text-gray-600 dark:text-gray-400">
          Protect your MCP Server from <br />security threats.
        </p>
      </div>
    </div>
  </div>
</div>
