---
import { Icon } from '@astrojs/starlight/components';
import { getBlogPermalink } from '~/utils/permalinks';
import Button from '~/components/ui/Button.astro';
---

<div class="mx-auto px-6 sm:px-6 max-w-3xl pt-8 md:pt-4 pb-12 md:pb-20">
  <Button variant="tertiary" class="px-3 md:px-3" href={getBlogPermalink()}>
    <Icon name="chevron-left" size="1.25rem" />
    <span class="ml-1">Back to Blog</span>
  </Button>
</div>